@tailwind base;
@tailwind components;
@tailwind utilities;


#wrapper{
    background-image: url(./images/background.png);
    background-position: center;
    background-size: cover;
}

.rocket{
    height: 200px;
    width: 200px;
    bottom:5%;
    right:10%;
    animation: rocket 4s linear infinite;
}

@keyframes rocket{
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
        bottom: 105%;
    }
}