@tailwind base;
@tailwind components;
@tailwind utilities;

#wrapper{
background: rgb(132,76,224);
background: linear-gradient(135deg, rgba(132,76,224,0.914402723980217) 42%, rgba(76,154,224,0.9200049648765756) 78%);
}

.textbox{
    background-color: white;
    height: 150px;
    border-radius: 10px;
    width: 300px;
    position: relative;
    outline: none;
    padding: 8px;
    margin: 10px;
}


.textbox img{
    position: absolute;
    height: 20px;
    width: 20px;
    bottom: 10px;
    right: 5px;
    cursor: pointer;
    z-index: 10;
}