@tailwind base;
@tailwind components;
@tailwind utilities;

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body{
    height: 100%;
    width: 100%;
}

img{
    mix-blend-mode: difference;
    transition: all linear 0.2ms;
    opacity: 0;
}