@tailwind base;
@tailwind components;
@tailwind utilities;

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    min-height: 100vh;
    width: 100vw;
}

#wrapper{
    height: 100vh;
    width: 100%;
    background: rgb(210,60,195);
background: linear-gradient(43deg, rgba(210,60,195,0.945215048910189) 28%, rgba(255,188,73,0.9424139284620098) 100%);
}

ul li{
    font-size: 17px;
    padding: 12px 8px 5px 50px;    
    user-select: none;
    cursor: pointer;
    position: relative;
}


ul li::before{
    content: '';
    position: absolute;
    border-radius: 50%;
    background-image: url(./images/unchecked.png);
    height: 28px;
    width: 28px;
    background-size: cover;
    background-position: center;
    left: 8px;
}

ul li.checked{
    text-decoration: line-through;
}

ul li.checked::before{
    background-image: url(./images/checked.png);
}

ul li span{
    position: absolute;
    right: 0;
    top: 5px;
    width: 40px;
    height: 40px;
    font-size: 22px;
    color: #555;
    text-align: center;
}

ul li span:hover{
    background-color: #edeef0;
    border-radius: 50%;
}


